<div class="container-flued mt-5 px-3">
    <div class="lead fs-4 fw-normal text-center my-5">{{selected | json}}</div>

    <form [formGroup]="alphabetForm" class="form-group">
        <div *ngFor="let alphaGroup of alphabetGroups.controls; index as i" class="row align-items-center my-3"
            formArrayName="alphabetGroups">
            <div class="col col-md-4 offset-md-3 col-sm-6 offset-sm-2 col-8 offset-1" [formGroupName]="i">
                <p-multiSelect formControlName="alphabetGroup" [options]="getAvailableAlphabets(i)" [showHeader]="false"
                    [showClear]="true" [maxSelectedLabels]="0" [selectedItemsLabel]="'{0} alphabets selected'"
                    [defaultLabel]="'Select Alphabets'" [style]="{width: '100%', border:'1px solid black'}"
                    (onClear)="clearDropdownAt(i)">
                </p-multiSelect>
            </div>
            <div class="col col-1">
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    [disabled]="i === 0 && alphabetGroups.length === 1" (click)="removeDropdownAt(i)"></button>
            </div>
        </div>
    </form>

    <div class="row justify-content-center my-2">
        <div class="col col-1 offset-md-3 offset-sm-5 offset-7">
            <button #addBtn pButton icon="pi pi-plus" class="p-button-rounded p-button-success"
                [disabled]="disableAddButton" (click)="addNewDropdown()"></button>
        </div>
    </div>
</div>