<div class="container-flued mt-5 px-3">
    <div class="text-center my-5 mx-2">
        <p-chip *ngFor="let group of selected; index as i" [styleClass]="'lead fs-5 fw-normal py-1 px-3 m-2 ' + 
            (panelOpenIndex === i ? 'bg-warning text-dark' : 'bg-primary text-white')">
            {{ group.length ? group.join('&nbsp;') : '&nbsp;' }}
        </p-chip>
    </div>

    <form [formGroup]="alphabetForm" class="form-group">
        <div *ngFor="let alphaGroup of alphabetGroups.controls; index as i" class="row align-items-center my-3"
            formArrayName="alphabetGroups">
            <div class="col col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-8 offset-1" [formGroupName]="i">
                <p-multiSelect formControlName="alphabetGroup" [options]="getAvailableAlphabets(i)" [showHeader]="false"
                    [showClear]="true" [maxSelectedLabels]="0" [selectedItemsLabel]="'{0} alphabets selected'"
                    [defaultLabel]="'Select Alphabets'" [style]="{width: '100%', border:'1px solid black'}"
                    (onPanelShow)="panelOpenIndex = i" (onPanelHide)="(panelOpenIndex === i) && (panelOpenIndex = -1)"
                    (onClear)="clearDropdownAt(i)">
                </p-multiSelect>
            </div>
            <div class="col col-1">
                <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                    [disabled]="i === 0 && alphabetGroups.length === 1" (click)="removeDropdownAt(i)"></button>
            </div>
        </div>
    </form>

    <div class="row justify-content-center my-2">
        <div class="col col-1 offset-md-5 offset-sm-7 offset-7">
            <button #addBtn pButton icon="pi pi-plus" class="p-button-rounded p-button-success"
                [disabled]="disableAddButton" (click)="addNewDropdown()"></button>
        </div>
    </div>
</div>