<div class="container mt-4">
    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <h3 class="mx-2" *ngFor="let line of lines">{{line | json}}</h3>
        <div class="my-4">
            <button #mic pButton pRipple type="button" class="btn-lg mx-2" label="{{status | titlecase}}"
                [icon]="status === 'STOPPED' ? 'pi pi-microphone' : status === 'PROCESSING'? 'pi pi-spin pi-spinner' : 'pi pi-stop-circle'"
                (click)="status === 'STOPPED' ? startListening() : stopListening()">
            </button>
            <p-dropdown styleClass="mx-2" pRipple [options]="languages" optionLabel="lang" optionValue="code"
                (onChange)="speechRecognition.lang = $event.value">
            </p-dropdown>
        </div>
    </div>
</div>