.active-route:not(:focus) {
    border-bottom: 2px solid #6d28d9;
    border-radius: 0px;
}

.active-route:focus {
    border-collapse: collapse;
}

@media(max-width: 576px) {
    button.p-button-lg {
        font-size: small;
    }
}