<div class="d-flex justify-content-center flex-md-row flex-column my-5 mx-3">
    <button pButton type="button" label="Alphabet Multiselect" class="p-button-lg p-button-text"
        routerLink="/alphabet-multiselect" routerLinkActive="active-route"></button>
    <button pButton type="button" label="Interview Management" class="p-button-lg p-button-text"
        routerLink="/interview-management" routerLinkActive="active-route"></button>
    <button pButton type="button" label="Debounce Demo" class="p-button-lg p-button-text" routerLink="/debounce-demo"
        routerLinkActive="active-route"></button>
    <button pButton type="button" label="Clock Printer" class="p-button-lg p-button-text" routerLink="/clock-printer"
        routerLinkActive="active-route"></button>
</div>

<router-outlet></router-outlet>