<div class="groups">
    <span *ngFor="let group of groups" [ngClass]="group.isWorking ? 'working': 'group'">
        {{group.name}}
    </span>
</div>

<div class="slots">
    <span *ngFor="let slot of interviewSlots" class="slot">
        <div>
            {{slot.interviewerName}}
        </div>
        <div>
            {{slot.dateAndTime | date: 'EEE - h:mm a'}}
        </div>
    </span>
</div>

<div class="text-center">
    <button (click)="rotate()" class="btn btn-primary btn-lg my-4">Rotate</button>
</div>