.groups, .slots {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100vw;
}

span {
    width: 30vw;
    text-align: center;
    margin: 0em 0.2em;
    padding: 0.1em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.group, .working {
    height: 10vh;
    line-height: 10vh;
    background-color: red;
}

.working {
    font-weight: bold;
}

.slot {
    height: 20vh;
    line-height: 10vh;
    font-size: smaller;
    background-color: green;
}