<div class="container mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <audio #speaker autoplay></audio>
        <input #uname *ngIf="!username.length" v type="text" pInputText placeholder="Enter your first name"
            (change)="setUsername(uname.value.trim().split(' ')[0])">

        <div *ngIf="username.length">
            <h3 class="text-center mt-2 mb-5" [class]="selectedContact.length ? 'text-success' : 'text-danger'">
                {{ selectedContact.length ? 'Connected to ' + selectedContact.split('_')[0] : 'Not Connected !'}}
            </h3>
            <ul *ngIf="availableContacts.length" class="list-group my-3">
                <li *ngFor="let contact of availableContacts" class="list-group-item"
                    [class.bg-primary]="contact === selectedContact">
                    <div class="h4" [class.text-white]="contact === selectedContact"
                        (click)="selectedContact = selectedContact === contact ? '' : contact">
                        {{contact.split('_')[0]}}
                    </div>
                </li>
            </ul>
            <div *ngIf="!availableContacts.length" class="lead text-center my-5">
                <h4>Nobody Online</h4>
                <p>You can wait here untill someone is available to connect.</p>
            </div>
        </div>
    </div>

</div>