<h2>Select Alphabets</h2>

<form [formGroup]="formGroup">
    <div *ngFor="let dd of dropdowns.controls; index as i" formArrayName="dropdowns" class="select-alpha">
        <ng-container [formGroupName]="i">
            <select formControlName="alphabet">
                <option *ngFor="let a of getAvailableAlphabets(i)" [value]="a">
                    {{a}}
                </option>
            </select>
        </ng-container>
        <button (click)="removeDropdownAt(i)" class="remove-btn">Remove</button>
    </div>
    <button (click)="addNewDropdown()" class="add-new-btn"
        [disabled]="dropdowns.length >= alphabets.length || selected.includes('')">
        Add New
    </button>
</form>

<hr>
<span>{{selected | json}}</span>