<div class="text-center">
    <form [formGroup]="formGroup">
        <div *ngFor="let dd of dropdowns.controls; index as i" formArrayName="dropdowns" class="select-alpha">
            <ng-container [formGroupName]="i">
                <p-multiSelect [options]="getAvailableAlphabets(i)" formControlName="alphabet" [showToggleAll]="false"
                    [showClear]="true" [showHeader]="false" [maxSelectedLabels]="0"
                    [style]="{margin: '0.5em', width:'18vw'}" [selectedItemsLabel]="'{0} alphabets selected'"
                    defaultLabel="Select Alphabets" (ngModelChange)="selectionChanged($event, i)"></p-multiSelect>
            </ng-container>
            <button (click)="removeDropdownAt(i)" class="btn btn-danger mx-2">Remove</button>
        </div>
        <button (click)="addNewDropdown()" class="btn btn-success my-3"
            [disabled]="disableAddNew">Add New</button>
    </form>

    <hr>
    <span class="text-monospace">{{selected | json}}</span>
</div>